#page,
.podcast-details {
    margin-top: 20px;
}

/* Player
-------------------------------------*/
#player {
    background: #333;
    border-top: 1px solid #555;
    display: none;
    width: 100%;
}
    #player .row {
        height: 48px;
    }

    #player-controls .player-icon {
        color: #FFFFFF;
        font-size: 180%;
        line-height: 48px;
    }

    #player-controls #player-pause {
        display: none;
    }

    #player-episode-info {
        color: #FFF;
        line-height: 48px;
    }
        #player-episode-title,
        #player-podcast-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

/* max-width 1025px, small-medium screens */
@media only screen and (max-width: 64em) {
    #player-seekbar {
        margin-top: -10px;
    }
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
    #player-seekbar {
        margin-top: 10px;
    }
}

/* Playlist
-------------------------------------*/
.playlist-index {
    margin-top: 20px;
}

.playlist-index .playlist-list {
    width: 100%;
}
    .playlist-list .playlist-icon {
        color: #990000;
        font-size: 280%;
        line-height: 48px;
    }

.playlist-details .podcast-list {
    list-style: none;
    margin-left: 0;
}

/* Podcast
-------------------------------------*/
.podcast-table .podcast-title,
.episode-table .episode-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Utils
-------------------------------------*/
.one-liner {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* JQuery UI
-------------------------------------*/
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}


/* Foundation icons
-------------------------------------*/
.icon-style1 { font-size: 70px; color: #B8D30B; }
.icon-style2 { font-size: 70px; color: #2DAEBF; text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566; }
.icon-style3 { font-size: 70px; color: #E33100; text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E33100, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100; }
.icon-style4 { font-size: 70px; text-shadow: 0 1px 3px rgba(0,0,0,0.25); color: #A9014B; }
.icon-style5 { font-size: 70px; color: rgba(245, 159, 26, 0.8); text-shadow: 1px 4px 6px #FFF, 0 0 0 #000, 1px 4px 6px #FFF; }