#page,
.podcast-details {
    margin-top: 20px;
}

/* Player
-------------------------------------*/
#player {
    background: #333;
    border-top: 1px solid #555;
    display: none;
    width: 100%;
}
    #player .row {
        height: 48px;
    }

    #player-controls .player-icon {
        color: #FFFFFF;
        font-size: 180%;
        line-height: 48px;
    }

    #player-controls #player-pause {
        display: none;
    }

    #player-episode-info {
        color: #FFF;
        line-height: 48px;
    }

    #player-seekbar {
        margin-top: 10px;
    }