{# src/Dahlberg/PodrBundle/Resources/views/Playlist/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Playlists{% endblock %}

{% block body %}
    <div class="row">
        <nav class="breadcrumbs">
            <a href="{{ path('root') }}">Home</a>
            <a class="current">Playlists</a>
        </nav>
    </div>
    <div class="row">
        <h2>Playlists</h2>


    </div>
{% endblock %}