{# src/Dahlberg/PodrBundle/Resources/views/Podcast/import.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Import Podcasts{% endblock %}

{% block body %}
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}