{# src/Dahlberg/PodrBundle/Resources/views/Search/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Search{% endblock %}

{% block body %}
    <div class="row">
        <h2>Search</h2>
        <p>Placeholder</p>
    </div>
{% endblock %}