{# src/Dahlberg/PodrBundle/Resources/views/Account/register.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    {{ form(form) }}
</div>
{% endblock %}