{# src/Dahlberg/PodrBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="row">
    <h2>Hello!</h2>
    <p>Welcome to PodR</p>
</div>
{% endblock %}


